<ul class="nav justify-content-end">
  <li class="nav-item" style="font-family: 'Palatino Linotype', cursive; padding-right: 5px">
    <a class="btn btn-outline-dark" aria-current="page" href="{{ url_for('main.hello_world') }}">Home</a>
  </li>
  <li class="nav-item" style="font-family: 'Palatino Linotype',cursive; padding-right: 5px">
    <a class="btn btn-outline-dark" href="{{ url_for('main.webcam') }}">Webcam</a>
  </li>
  <li class="nav-item" style="font-family: 'Palatino Linotype',cursive; padding-right: 5px">
    <a class="btn btn-outline-dark" href="{{ url_for('main.image') }}">Image</a>
  </li>
  <li class="nav-item" style="font-family: 'Palatino Linotype',cursive; padding-right: 5px">
    <a class="btn btn-outline-dark" href="{{ url_for('main.video') }}">Video</a>
  </li>
</ul>