{% extends 'base.html' %}

{% block title %}
    home_page
{% endblock %}

{% block head %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css')}}" type='text/css'>
{% endblock %}
{% block body %}

    <div class="intro">

        <div class="video">
            <video class="video__media" src="../static/images/OMSBG12.mov" autoplay="" muted="" loop=""></video>
        </div>
        <div class="intro__content">
            <div class="container">
                <div class="position-absolute top-10 start-0 col-8 main-shadow my-5 mx-5">
        <blockquote class="blockquote my-5 mx-5" style="font-family: DialogInput,cursive; color: #ffffff">
            <p>We have used an open source data set — Face Emotion Recognition (FER) from Kaggle and built a CNN to detect emotions. The emotions can be classified into 7 classes — happy, sad, fear, disgust, angry, neutral and surprise.
                Model — We built a 6 layered Convolutional Neural Network (CNN) in Keras and use image augmentations to improve model performance.
            </p>
        </blockquote>
        <div class="blockquote-footer">
            Created by <cite>Borysyuk V. and Ashirova M.</cite>
        </div>
    </div>
                <div class="flip-card position-absolute position-absolute bottom-50 end-0" style="opacity: 0.5">
        <h1>What’s Your Emotional Default?</h1>
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <i class="bi bi-emoji-frown-fill" style="font-size: 200px"></i>
            </div>
            <div class="flip-card-back">
                <a href="{{ url_for('main.webcam') }}" style="color: inherit"><i class="bi bi-emoji-laughing-fill " style="font-size: 200px"></i></a>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>



{% endblock %}