{% extends 'base.html' %}

{% block title %}
    цуисфь
{% endblock %}

{% block body %}
    <div>
        <div class="row">
            <div class="col-6 text-center">
                <video autoplay id="stream" class="mx-auto"></video>
            </div>
            <div class="col-6 text-center">
                <img id="client" src="">
            </div>
        </div>


    </div>
{% endblock %}
{% block js %}
    <script>
        const video = document.getElementById('stream')
        const canvas = document.createElement('canvas')
        const img = document.getElementById('client')


        function getFrame(){
            canvas.width = video.videoWidth
            canvas.height = video.videoHeight
            canvas.getContext('2d').drawImage(video, 0, 0)
            return canvas.toDataURL("image/png")
        }

        function streamVideo(){

            const WS_URL = 'ws://192.168.0.105:8001/ws'

            const ws = new WebSocket(WS_URL)

            navigator.mediaDevices.getUserMedia({
                video: {
                    height: 600,
                    width: 700,
                }
            }).then(stream => video.srcObject = stream)

            ws.onopen = () => {
                setInterval(() => {
                    ws.send(getFrame())
                }, 1000 / 5)
            }

            ws.onmessage = message => {
                const response = JSON.parse(message.data)
                img.src = `data:image/png;base64, ${response.image}`
            }

        }

        document.addEventListener('DOMContentLoaded', streamVideo, false)
    </script>
{% endblock %}